.donate-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.donate-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #002657;
}
.donate-link {
  color: var(--dl-color-gray-900);
  text-decoration: none;
}
.donate-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.donate-navlink {
  color: var(--dl-color-gray-900);
  text-align: right;
  text-decoration: none;
  background-color: #002657;
}
@media(max-width: 767px) {
  .donate-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .donate-navlink {
    color: var(--dl-color-gray-900);
    display: flex;
    text-decoration: none;
    background-color: rgb(0, 38, 87);
  }
}
@media(max-width: 479px) {
  .donate-header {
    padding: var(--dl-space-space-unit);
  }
  .donate-navlink {
    display: flex;
  }
}
